head
  title Meteor Hackathon 20141206
template(name='layout')
  h2 I am Layout
  hr
  +yield
  hr
template(name='index')
  h2 I am Index

template(name='main')
  hr
  +loginButtons
  h2 Chatroom:
  h2 Text:
  input.text
  button.postBtn Post
  each chats
    hr
    h2 {{username}}: {{text}}
    hr
